/*InputField form*/
.input1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    outline: none;

} 
/*InputField box*/
.input__box1{
    flex:1px;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
/*InputField box*/
.input__box1:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.15);
    /* last argument of color is the transparency. */
    outline: none;
}
/*InputField box*/
.input__submit1{
    border: none;
    outline: none;
    padding: 16px 20px;
    background: #4e4caf;
    color: #f2f2f2;
    border-radius: 50px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
}
/*InputField box*/
.input__submit1:hover{
    background-color: #201ea5;
}
/*InputField box*/
.input__submit1:active{
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}


.todo-single-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:auto;
    margin-top: auto;
    height:20px;
  }
  
  .todos-container {
    text-align: left;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-left: 5px;
  }

  .delete-icon {
    color: red;
  }
  

  .todo-item{
      list-style: none;
      font-size: 17px;
      padding: 10px 50px 10px 0px; /*top right bottom left */
      user-select: none;
      cursor: pointer;
      height: 20px;
  }

.check-icon{
    margin-right: 20px;
}      

.todos__single--text{
    margin-left: 10px;
}
